<meta http-equiv="content-type" content="text/html; charset=cp1251" />
<table width="100%" height="100%" border="0">
    <tr>
      <td><fieldset><legend>Введённые параметры</legend>
          <table cellspacing="5" cellpadding="0" border="0">
        <tr>
          <td width="25%" align="right"><strong>Название игры:</strong></td>
          <td width="25%">[#value_gamename#]</td>
          <td width="30">&nbsp;</td>
          <td width="25%"><strong>Cервер mySql:</strong></td>
          <td width="25%">[#value_hostadress#]</td>
        </tr>
                <tr>
          <td width="25%" align="right"><strong>Доменное имя:</strong></td>
          <td width="25%">[#value_domen#]</td>
          <td width="30">&nbsp;</td>
          <td width="25%"><strong>Логин mySql:</strong></td>
          <td width="25%">[#value_myslogin#]</td>
        </tr>
                <tr>
          <td width="25%" align="right"><strong>Логин админа:</strong></td>
          <td width="25%">[#value_logins#]</td>
          <td width="30">&nbsp;</td>
          <td width="25%"><strong>Пароль mySql:</strong></td>
          <td width="25%">[#value_myspassword#]</td>
        </tr>
                        <tr>
          <td width="25%" align="right"><strong>Пароль админа:</strong></td>
          <td width="25%">[#value_password#]</td>
          <td width="30">&nbsp;</td>
          <td width="25%"><strong>Имя базы данных:</strong></td>
          <td width="25%">[#value_namebase#]</td>
        </tr>
      </table></fieldset></td>
      
  </tr>
  <tr>
    <td align="center"><p>Если вся информация введена верно то сейчас будет создан файл engine.inс.php</p>
        <p>&nbsp;</p>
      <p>Нажми "Далее" для продолжения.</p></td>
  </tr>
</table>
